body {
  background-color: #fff;
}

html,
body,
header,
#intro {
  height: 100%;
}

/* Background image */

/* #intro {
  background: url(".///images/pexels-photo-1831997.jpeg") no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

.bg-image {
  position: relative;
  overflow: hidden;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.bg-image .mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #fff;
}

.bg-image .mask .text {
  height: 100%;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.bg-image .mask .text p {
  margin: 0;
}

#intro .mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* background-color: rgba(0, 0, 0, 0.6); */
}

/* FONTS */

.hd-in {
  font-family: "Dancing Script", cursive;
  /* font-family: "Norican", cursive; */
  color: #fff;
}

.ttl-br {
  font-family: "Poiret One", cursive;
  color: #fff;
}

.hd-br {
  /* font-family: 'Montserrat', sans-serif; */
  font-family: "Norican", cursive;
  color: #fff;
  font-weight: 300;
}

.sub-ttl {
  font-family: "Montserrat", sans-serif;
  /* font-family: "Norican", cursive; */
  color: #fff;
  font-weight: 300;
}

.sub-int {
  font-family: "Poiret One", cursive;
  color: #fff;
}

.hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.9);
}

.hrs {
  margin: 2rem 10rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.9);
}

/* icons RGB */

#ic {
  background-color: rgb(0, 0, 0) !important;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.2) !important;
  /* Black w/opacity/see-through */
}

.fa,
.rainbow {
  animation: colorRotate 6s linear 0s infinite;
  text-decoration: none;
}

@keyframes colorRotate {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}

.br2 {
  margin-top: 30px;
}

#wlc {
  background: url(".//images/welcomeimg.jpeg");
  height: 45rem;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Carousel */
.carousel-img {
  padding: 0;
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
}

/* Carousel Firefox bug */
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/* expanding cards */

.ctnr {
  display: flex;
  /* width: 90vw; */
  align-items: center;
  justify-content: center;
  height: 90vh;
  overflow: hidden;
  margin: 0;
}

.pl {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  -webkit-transition: all 700ms ease-in;
}

.pl h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.pl.active {
  flex: 5;
}

.pl.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

.abtme {
  background-color: white;
}

/* Reviews */

#intro3 {
  background: url(".//images/dog-2561134_1920.jpg") no-repeat center center
    fixed;
  height: 45rem;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#intro2 {
  background: url(".//images/horse-5101069_1920.jpg") no-repeat center center
    fixed;
  height: 45rem;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#close2 {
  background: url(".//images/standup-paddleboarding-1838969_1920.jpg") no-repeat
    center center fixed;
  height: 45rem;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.gbtn {
  height: 10rem;
}
